.bigYellow-Triangle {
  transform: translateX(6.5em) translateY(0em) rotate(20deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.bigGreen-Triangle {
  transform: translateX(3.5em) translateY(-6.5em) rotate(200deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.blue-Triangle {
  transform: translateX(24.6em) translateY(-9.6em) rotate(245deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.red-Square {
  transform: translateX(-0.8em) translateY(1em) rotate(20deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.blue-Parallelogram {
  transform: translateX(19em) translateY(-7em) rotate(-25deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.orange-Triangle {
  transform: translateX(-6.4em) translateY(1.6em) rotate(200deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.greenSmallTriangle {
  transform: translateX(-9.5em) translateY(-4.4em) rotate(-115deg);
  transition: transform 1s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}
@media screen and (min-width: 1024px) {
  #main {
    transform: scale(100%) translateX(-6em);
  }
}

@media screen and (max-width: 1024px) {
  #main {
    transform: scale(100%) translateX(-6em);
  }
}

@media screen and (max-width: 700px) {
  #main {
    transform: scale(65%) translateX(-6em);
  }
}
@media screen and (max-width: 480px) {
  #main {
    transform: scale(40%) translateX(-6em);
  }
}
@media screen and (max-width: 320px) {
  #main {
    transform: scale(35%) translateX(-8em);
  }
}
