.bigYellow-Triangle{
    transform: translateX(7.7rem) rotate(198deg) translateY(-14.9rem);	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.bigGreen-Triangle{

    transform: rotate(198deg) translateX(4.9rem)  translateY(2.4rem) ;	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Triangle{

    transform:  translateX(-9rem)  translateY(25rem) rotate(210deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.red-Square{

    transform:  translateX(-3.5rem)  translateY(-14.5rem) rotate(18deg);	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Parallelogram{
    transform:  translateX(-0.8rem)  translateY(1.4rem) rotate(-27deg);	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);

}
.orange-Triangle {
    transform:  translateX(7rem)  translateY(22.5rem) rotate(47deg);	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);

}
.greenSmallTriangle {

    transform:  translateX(-0.8rem)  translateY(9.8rem) rotate(-27deg);	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}


@media screen and (max-width: 700px) {
  #main {
    transform: scale(65%) translateX(-6em);
  }
}
@media screen and (max-width: 480px) {
  #main {
    transform: scale(40%) translateX(-6em);
  }
}
@media screen and (max-width: 320px) {
  #main {
    transform: scale(35%) translateX(-8em);
  }
}