.bigYellow-Triangle{
    transform: translateX(-24rem) translateY(-11rem) rotate(261deg);	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.bigGreen-Triangle{

    transform: translateX(-20.4rem)  translateY(-3.7rem) rotate(352deg) ;	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Triangle{

    transform:  translateX(-29.5rem)  translateY(17.5rem) rotate(38deg) ;
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.red-Square{

    transform:  translateX(-23.5rem)  translateY(-20.5rem) rotate(59deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Parallelogram{

    transform:  translateX(8rem) translateY(4,1rem) rotate(37deg);	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);

}
.orange-Triangle {
    top: 20rem;
    left: 20rem;
    transform:  translateX(-2rem)  translateY(14rem) rotate(180deg);	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);

}
.greenSmallTriangle {

    transform:  translateX(-24rem)  translateY(7rem) rotate(351deg);	
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}